
  <div class="row">
   

      <%= simple_form_for @list do |f| %>
            
     	 
           <div class="input-field col s12 m6 l8">
      	     <%= f.input :name, label: false,:placeholder => t('list-name'),:inner_html => { id: 'input-text'} %>
           </div>
           <div class="input-field col s12 m6 l4" style="display: flex;" >
           <%=  f.button  :button, t('delete'), :type => 'reset', :class => 'btn'%>
      	   
           <%= f.submit :class => "right waves-effect blue darken-3 btn"%>
        
           </div>

      <% end %>
  </div>
