<div class="screenshot-item  col s12 m6 l6 contener-texto" >

	<div class="row" style="margin-bottom: 0px">
        <div class="col s12 ">
          <div class="card  darken-1">
            <div class="card-content ">
             <p> <%= list.name %><p>
             
            </div>
            <div class="card-action">
              <%= link_to t('view-more'),list %>
              <span class="chip right"><%=list.tasks.countOnlyActive%></span>
            </div>
          </div>
        </div>
      </div>
	 
	 
</div>