
					<div class="wow fadeInUp content-card">
						 
							<div class="icon-and-title-flex">
									<img id='logo' src="<%= image_path('post.it.png')%>" class="appicon"></img>
									
									<div class="title-container ">
							
										<span class="text-title font-pacifico shadow" >Task Management</span>
										<br><div class="intertext-padding"></div>
										
										<span class="text-subtitle"><%= t('subtitle') %></span> 
										<br><div class="intertext-padding"></div>
										
									</div>  
								</div>
								
								<!-- Formulario - Crear lista -->
								 <%= render 'form'%>
							
								

					</div>
							
					<div class="wow fadeInUp content-works "> 
							<%= render(@lists) or render partial:('empty-collection') %>
					</div>
									
		
		
	
