	  <div class="wow fadeInUp content-card">
                <!-- REPLACE WITH YOUR APP URL -->
                <a href="YOUR_APP_URL_HERE">
                  <paper-fab class="mobile-fab" icon="shop"></paper-fab>
                </a>
                
                <div class="icon-and-title-flex">
                  <img id='logo' src="<%= image_path('post.it.png')%>" class="appicon"></img>
                  <div class="title-container">
              
                    <span class="text-title" style=" text-shadow: 4px 4px 4px #aaa; font-family: 'Pacifico', cursive; ">Task Management</span>
                    <br><div class="intertext-padding"></div>
                    
                    <span class="text-subtitle">Gestioná tus tareas de manera rápida y sencilla</span> 
                    <br><div class="intertext-padding"></div>
                    
                  </div>  
                </div>

               <%= render 'form', list: @list %>
              
                

              </div>
	<div class="wow fadeInUp content-works "> 
		<%= render(@lists) || render('empty-collection') %>
  </div>
			
		
		
	
