
			<div class="wow fadeInUp content-card" style="margin-top: 0;">	
			    <%= render 'form', list: @list %>
				<table class="highlight striped ">
					<tr>
						<thead>
							<th>Titulo</th>
							<th>Url</th>
						</thead>
					</tr>
						<tbody>
						<%= render @lists %>
						</tbody>

				</table>
					
			</div>
		
		
		
	
