
	  <div class="wow fadeInUp content-card">
                <!-- REPLACE WITH YOUR APP URL -->
                <a href="YOUR_APP_URL_HERE">
                  <paper-fab class="mobile-fab" icon="shop"></paper-fab>
                </a>
              
                <div class="icon-and-title-flex">
                  <img id='logo' src="<%= image_path('post.it.png')%>" class="appicon"></img>
                  <div class="title-container ">
              
                    <span class="text-title font-pacifico shadow" >Task Management</span>
                    <br><div class="intertext-padding"></div>
                    
                    <span class="text-subtitle"><%= t('subtitle') %></span> 
                    <br><div class="intertext-padding"></div>
                    
                  </div>  
                </div>

               <%= render 'form'%>
              
                

              </div>
            	<div class="wow fadeInUp content-works "> 
            		<%= render(@lists) or render partial:('empty-collection') %>
              </div>
            			
		
		
	
