			<tr id="<%=task_simple.id %>"> 
				<td> 
				<% case task_simple.priority %>
					<%  when "Alta" then %>
					     <span class="chip red" data-badge-caption="" >
					     	<i class="fa fa-star" aria-hidden="true"></i>
					      </span>
					<%  when "Media"  then  %>
						 <span class="chip orange" data-badge-caption="" >
						 	<i class="fa fa-star-half-o" aria-hidden="true"></i>
						 </span>
					<% when "Baja"  then  %>
					     <span class="chip gren" data-badge-caption="" >
					     	<i class="fa fa-star-o" aria-hidden="true"></i>
					      </span>
				 	<% end %> 
				 </td>
				<td>
						
					<div>
						<% case task_simple.state %>
						<%  when "Hecha" then %>
						     <span class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Hecha"  data-badge-caption=""  > 
						     	<i class="fa fa-check" aria-hidden="true"></i>

						     </span>
						<%  when "Pendiente"  then  %>
							 <span class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Pendiente"  data-badge-caption="" >
								<i class="fa fa-thumb-tack" aria-hidden="true"></i>

							</span>
						
					 	<% end %>
					<%=  best_in_place  [@list,task_simple], :description, :as => :textarea,:inner_class => 'materialize-textarea' %> </div>
					
					<div class="footer-div" >
					</div>
				</td>
				<td width="100px">
					<a href= "<%= edit_list_task_simple_path(id:task_simple.id,list_id:task_simple.list.url)%>" ><i class="material-icons">edit</i></a>
		               
					    <%= link_to list_task_simple_url(@list.url,task_simple.id), method: :delete, data: { confirm: '¿ Quieres borrar ? ' },:remote => true  do %>
					 	<i class="material-icons">delete</i>
						<% end %>

				</td>
          	</tr>


     
		


						

						 	

						 	
						 	
						 

						
				