
<div class="wow fadeInUp content-card " style="margin-top: 0;">	
	

	 <a class=" btn-floating waves-effect waves-light right"   data-delay="50" >	<i  class="material-icons ">replay</i>	</a>
 	 <h4>Crear Tarea</h4>

		 <%= render 'task_simples/form'  %>			
	
 </div>



