	<!-- Modal  edit task -->
		  <div id="modal2" class="modal modal-fixed-footer">
		    <div class="modal-content">
		      <h4>Modal Header</h4>
		      <%= simple_form_for  url:'tasks/' do |f| %>
		      	
		      	<%= f.input :description, label: false,:placeholder => 'Descripcion', input_html: {id: "description"} %>
		      	 <%= f.select :priority, Task.priorities.keys %>

		     <% end %>

		     </div>
		    <div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
		    </div>
		  </div>