 
<div class="wow fadeInUp content-card " style="margin-top: 0;">	
	

	 <a class=" btn-floating waves-effect waves-light right" href="<%= lists_path %>"  data-delay="50" >	<i  class="material-icons ">replay</i>	</a>
		 <%= render 'form' ,task:@task %>			
		 <h4>Editar Tarea</h4>





 </div>