
$('#state-<%=@task.id%>').html("<span class='chip tooltipped' data-position='botton' data-delay='50' data-tooltip='Hecha'  data-badge-caption=''  >   	<i class='fa fa-check' aria-hidden='true'></i></span>");
show_success_noty();