.full-width{
	width: 100%;
}

.hidden{

	display: none;
}

.footer-div{
	padding-top: 0.5em;
	padding-left: 0.3em;
	padding-right: 0.3em
}

ul {
	margin: 0px;
}

/*Para evitar que el texto salga del contenedor */
.contener-texto, td {
	-ms-word-break: break-all;
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.font-ubuntu{
	font-family: 'Ubuntu', sans-serif;
}

#alert-confirm{
	padding: 2em;
}

.input-field label{
	position: inherit !important;
}


.inline{
	display: inline;
}

.cover-image 
{	
    background: #3a6186; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size:cover;
	background-position:center;
	height:100%;
	width:100%;
	top:0;
	left: 0;
	position:fixed;
}
