
<div class="wow  content-card " style="margin-top: 0;">	
	

	 <a class=" btn-floating waves-effect waves-light right"   data-delay="50" href="<%= list_path(@list) %>" >	
	 	<i class="fa fa-arrow-left" aria-hidden='true'></i>
	 </a>
 	 <h4>Crear Tarea</h4>
	
	<%= render partial: '/task_temporaries/form'%>
</div>